.seat {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin: 10px 5px;
}

.seat:hover {
  cursor: pointer;
}

.aisle {
  width: 50px;
  display: block;
  margin: 10px 5px;
  font-weight: bold;
  color: grey;
  padding: 15px 0;
}